body {
  margin: 0;
  background-color: #1c6ea8;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h1, h2 {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  margin-left: 1em;
}

#menuicon {
  display: none !important;
  visibility: hidden !important;
}

nav h2, nav ul li {
  border-bottom: 1px solid #216b9a;
}

nav, nav ul li a {
  background-color: #da622e;
  color: #fff;
}

article {
  color: #000;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
}

article h2 {
  color: #166ba1;
}

article a {
  text-decoration: none;
  color: #da622e;
}

article, article h2, article a {
  background-color: #fff;
}

a:hover, a:focus, a:active {
  background-color: #0645ad;
}

aside {
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
}

aside h2 {
  color: #166ba1;
}

aside, aside h2 {
  background-color: #999;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (max-width:37em) {
  nav {
    height: 2.4em; 
    overflow: hidden;
    -webkit-transition: height 3s; 
    -moz-transition: height 3s; 
    -o-transition: height 3s; 
    -ms-transition: height 3s; 
    transition: height 3s;
  }
  #menuicon {
    display: inline-block !important;
    visibility: visible !important;
  }
  nav:hover, nav:focus, nav:active {
    /* On hover the menu unfolds */
    height: 10.3em; 
    -webkit-transition: height 3s; 
    -moz-transition: height 3s; 
    -o-transition: height 3s; 
    -ms-transition: height 3s; 
    transition: height 3s;
  }
}

@media all and (min-width: 37em) {
  nav {
    width: 49%;
    float: left;
  }
  article {
    width: 49%;
    float: left;
  }
  aside {
    width: 100%;
    float: left;
  }
}

@media all and (min-width: 50em) {
  body {
    background-image: url(background.jpg);
    background-repeat: repeat;
    background-size: cover;
  }
  h1 {
    text-align: center;
    font-size: 6em;
  }
  nav {
    width: 14%;
    margin-left: 4%;
    float: left;
  }
  nav h2, nav ul li a {
    margin: 0;
    padding-left: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
  }
  article {
    width: 45%;
    margin-left: 4%;
    float: left;
  }
  article img {
    width: 40%;
    height: auto;
  }
  aside {
    width: 20%;
    margin-left: 4%;
    float: left;
  }
  #gondola {
    margin-left: 1em;
    float: right;
  }
  #venice {
    margin-right: 1em;
    float: left;  
  }
  label {
    display: inline-block;
    width: 25%;
    text-align: right;
  }

  li input, li textarea {
    width: 30%; 
  }

  label, input, textarea{
    display: inline-block;
    vertical-align: top;
  }
}