body {
	margin: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.1em;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

nav {
  background-color: #DA622E;
  width: 20%;
  margin-left: 4%;
  float: left;
}

nav ul{
  list-style: none;
}

nav ul li a{
  display: block;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
}

article{
  background-color: #fff;
  width: 45%;
  float: left;
}