body {
	margin: 0;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.1em;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

nav {
  padding: 0;
  background-color: #DA622E;
  float: left;
}

nav ul li a{
  display: block;
  padding: 20%,10%,0,10%;
}