body {
  margin: 0;
  background-image: url(background.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-color: #1c6ea8;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

header, section, footer, aside, nav, article, figure {
    display: block; 
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 6em;
}

h2 {
  margin: 0;
}

h1, h2 {
  text-transform: uppercase;
}

nav {
  width: 14%;
  margin-left: 4%;
  float: left;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
}

nav h2, nav ul li {
  border-bottom: 1px solid #216b9a;
}

nav h2, nav ul li a {
  padding-left: 6%;
  padding-top: 3%;
  padding-bottom: 3%;
}

nav, nav ul li a {
  background-color: #da622e;
  color: #fff;
}

article {
  color: #000;
  width: 45%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  margin-left: 4%;
  float: left;
}

article h2 {
  color: #166ba1;
}

article a {
  text-decoration: none;
  color: #da622e;
}

article img {
  width: 40%;
  height: auto;
}

article, article h2, article a {
  background-color: #fff;
}

aside {
  color: #fff;
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  margin-left: 4%;
  float: left;
}

aside h2 {
  color: #166ba1;
}

aside, aside h2 {
  background-color: #999;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#gondola {
  margin-left: 1em;
  float: right;
}

#venice {
  margin-right: 1em;
  float: left;  
}

label {
  padding-left: 10%;
}

input, textarea {
  --margin-left: 20%;
}

label, input, textarea{
  display: inline-block;
  vertical-align: top;
}