body {
  margin: 0;
  background-color: #1c6ea8;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

  @media all and (min-width: 37em) {
    body {
      background-image: url(background.jpg);
      background-repeat: repeat;
      background-size: cover;
    }
  }

  @media all and (min-width: 50em) {
    body {
      background-image: url(background.jpg);
      background-repeat: repeat;
      background-size: cover;
    }
  }

header, section, footer, aside, nav, article, figure {
    display: block; 
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
}

  @media all and (min-width: 37em) {
    h1 {
      font-size: 3em
    }
  }

  @media all and (min-width: 50em) {
    h1 {
      text-align: center;
      font-size: 5em;
    }
  }

a:hover, a:focus, a:active {
  background-color: #0645ad;
}

nav {
  background-color: #da622e;
  color: #fff;
  height: 2.4em; 
  overflow: hidden;
  -webkit-transition: height 3s; 
  -moz-transition: height 3s; 
  -o-transition: height 3s; 
  -ms-transition: height 3s; 
  transition: height 3s;
}

  @media all and (max-width: 37em) {
    nav:hover, nav:focus, nav:active {
      /*On hover the menu unfolds*/ 
      height: 10.3em; 
      -webkit-transition: height 3s; 
      -moz-transition: height 3s; 
      -o-transition: height 3s; 
      -ms-transition: height 3s; 
      transition: height 3s;
    }
  }

  @media all and (min-width: 50em) {
    nav {
      width: 14%;
      height: initial;
      margin-left: 4%;
      float: left;
    }
  }

nav h2 {
  border-bottom: 1px solid #216b9a;
}

  @media all and (min-width: 37em) {
    nav h2 {
      border-bottom: 0;
      display: inline;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    nav h2 {
      border-bottom: 1px solid #216b9a;
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: block;
      float: none;
    }
  }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

  @media all and (min-width: 37em) {
    nav ul {
      margin-top: 0.4em;
    }
  }

  @media all and (min-width: 50em) {
    nav ul {
      margin-top: 0;
    }
  }

#menuicon {
  display: inline-block !important;
  visibility: visible !important;
}

  @media all and (min-width:37em) {
    #menuicon {
       display: none !important;
      visibility: hidden !important;
    }
  }

nav ul li {
  border-bottom: 1px solid #216b9a;
}

  @media all and (min-width: 37em) {
    nav ul li {
      border-bottom: none;
      display: inline;
    }
  }

  @media all and (min-width: 50em) {
    nav ul li {
      display: block;
      border-bottom: 1px solid #216b9a;
    }
  }

.selected a {
  background-color: #c0c0c0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 2%;
  background-color: #da622e;
  color: #fff;
}

  @media all and (min-width: 37em) {
    nav ul li a {
      display: inline;
    }
  }
  
  @media all and (min-width: 50em) {
    nav ul li a {
      display: block;
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }

article {
  color: #000;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #fff;
}

  @media all and (min-width: 37em) {
    article {
      width: 62%;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    article {
      width: 45%;
      margin-left: 4%;
      float: left;
    }
  }

article h2 {
  color: #166ba1;
  background-color: #fff;
} 

article a {
  text-decoration: none;
  color: #da622e;
  background-color: #fff;
}

article img {
  float: left;
}

#gondola {
  float: right;
}

#venice {
  float: left;
}

aside {
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #999;
}

  @media all and (min-width: 37em) {
    aside {
      width: 34%;
      float: right;
    }
  }

  @media all and (min-width: 50em) {  
    aside {
      width: 20%;
      margin-left: 4%;
      float: left;
    }
  }

aside h2 {
  color: #166ba1;
  background-color: #999;
}