body {
  margin: 0;
  background-color: #1c6ea8;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

  @media all and (min-width: 37em) {
    body {
      background-image: url(background_small.jpg);
      background-repeat: repeat;
      background-size: cover;
    }
  }

  @media all and (min-width: 50em) {
    body {
      background-image: url(background.jpg);
    }
  }

header, section, footer, aside, nav, article, figure {
    display: block; 
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
}

  @media all and (max-width: 37em) {
    h1 {
      font-size: 1.1em;
    }
    h2 {
      font-size: 1em;
    }
  }

  @media all and (min-width: 37em) {
    h1 {
      font-size: 3em
    }
  }

  @media all and (min-width: 50em) {
    h1 {
      text-align: center;
      font-size: 5em;
    }
  }

a:hover, a:focus, a:active {
  background-color: #0645ad;
}

nav {
  background-color: #da622e;
  color: #fff;
  height: 1.6em; 
  overflow: hidden;
  -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -o-transition: height 1s; 
  -ms-transition: height 1s; 
  transition: height 1s;
}

  @media all and (max-width: 37em) {
    nav:hover, nav:focus, nav:active {
      height: 10.3em; 
    }
  }

  @media all and (min-width: 37em) {
    nav {
      height: 2.4em;
    }
  }

  @media all and (min-width: 50em) {
    nav {
      width: 14%;
      height: initial;
      margin-left: 4%;
      float: left;
    }
  }

nav h2 {
  border-bottom: 1px solid #216b9a;
}

  @media all and (min-width: 37em) {
    nav h2 {
      border-bottom: 0;
      display: inline;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    nav h2 {
      border-bottom: 1px solid #216b9a;
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
      display: block;
      float: none;
    }
  }

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

  @media all and (min-width: 37em) {
    nav ul {
      margin-top: 0.4em;
    }
  }

  @media all and (min-width: 50em) {
    nav ul {
      margin-top: 0;
    }
  }

#menuicon {
  display: inline-block !important;
  visibility: visible !important;
}

  @media all and (min-width:37em) {
    #menuicon {
      display: none !important;
      visibility: hidden !important;
    }
  }

nav ul li {
  border-bottom: 1px solid #216b9a;
}

  @media all and (min-width: 37em) {
    nav ul li {
      border-bottom: none;
      display: inline;
    }
  }

  @media all and (min-width: 50em) {
    nav ul li {
      display: block;
      border-bottom: 1px solid #216b9a;
    }
  }

.selected a {
  background-color: #c0c0c0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 2%;
  background-color: #da622e;
  color: #fff;
}

  @media all and (min-width: 37em) {
    nav ul li a {
      display: inline;
    }
  }
  
  @media all and (min-width: 50em) {
    nav ul li a {
      display: block;
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }

article {
  color: #000;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #fff;
}

  @media all and (max-width: 37em) {
    article p {
      font-size: 0.8em;
    }
  }

  @media all and (min-width: 37em) {
    article {
      width: 62%;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    article {
      width: 45%;
      margin-left: 4%;
    }
  }

article h2 {
  color: #166ba1;
  background-color: #fff;
} 

article a {
  text-decoration: none;
  color: #da622e;
  background-color: #fff;
}

sup {
  font-size: 0.7em;
}

table {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

  @media (max-width: 37em) {
    table {
      display: block;
      width: 100%;
    }
  }

table thead th, table tr.index th {
  text-transform: uppercase;
}

  @media (max-width: 37em) {
    table thead {
      display: none;
      visibility: hidden;
    }
  }

table tr:nth-child(even) {
  background-color: #fcf3d2;
}

table th {
  background-color: #eeeeee;
}

table th, table td {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 1em;
  text-align: left;
  vertical-align: top;
}

  @media (max-width: 37em) {
    table tbody, table tr, 
    table th, table td {
      display: block;
    }

    table th[data-title]:before, 
    table td[data-title]:before {
      content: attr(data-title) ": ";
      font-weight: bold;
    }

    table th:not([data-title]) {
      font-weight: bold;
    }
  }

  @media (min-width: 37em) and (max-width: 67em) {
    table thead tr th:nth-child(4), 
    table tbody tr td:nth-child(4) {
      display: none;
      visibility: hidden;
    }
  }

#gondola {
  width: 80vw;
}

  @media all and (min-width: 37em) {
    #gondola {
      width: 40vw;
      float: right;
    }

    #venice {
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    #gondola {
      width: 30vw;
    }
  }

fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset ul li {
  padding-bottom: 1em;
}

fieldset ul li label {
  display: block;
}

  @media (min-width: 37em) {
    fieldset ul li label {
      vertical-align: top;
      text-align: right;
      display: inline-block;
      width: 30%;
    }
  }

fieldset ul li input,
fieldset ul li textarea {
  display: block;
  width 100%;
}

  @media (min-width: 37em) {
    fieldset ul li input,
    fieldset ul li textarea  {
      display: inline-block;
    }
  }

label {
  text-transform: capitalize;
}

aside {
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #999;
}

  @media all and (min-width: 37em) {
    aside {
      width: 34%;
      float: right;
    }
  }

  @media all and (min-width: 50em) {  
    aside {
      width: 20%;
      margin-left: 4%;
      float: left;
    }
  }

aside h2 {
  color: #166ba1;
  background-color: #999;
}

.clearfix {
  clear: both;
}