  @media all and (min-width: 50em) {
    h1 {
      text-align: center;
      font-size: 6em;
    }
  }

  @media all and (min-width: 50em) {
    nav {
      width: 14%;
      margin-left: 4%;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    nav h2 {
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }

  @media all and (min-width:37em) {
    #menuicon {
       display: none !important;
      visibility: hidden !important;
    }
  }

  @media all and (max-width:37em) {
    nav ul li {
    }
  }

  @media all and (min-width: 37em) {
    nav ul li {
      border-bottom: none;
      display: inline;
    }
  }

  @media all and (min-width: 50em) {
    nav ul li {
      display: block;
      border-bottom: 1px solid #216b9a;
    }
  }


  @media all and (min-width: 37em) {
    nav ul li a {
      display: inline;
    }
  }

  @media all and (min-width: 50em) {
    nav ul li a {
      display: block;
      margin: 0;
      padding-left: 6%;
      padding-top: 3%;
      padding-bottom: 3%;
    }
  }

  @media all and (min-width: 37em) {
    article {
      width: 62%;
      float: left;
    }
  }

  @media all and (min-width: 50em) {
    article {
      width: 45%;
      margin-left: 4%;
      float: left;
    }
  }

#gondola {
  margin-left: 1em;
  float: right;
}
#venice {
  margin-right: 1em;
  float: left;  
}


  @media all and (min-width: 37em) {
    article img img {
      width: 40%;
      height: auto;
    }
  }

/* Complementory aside styles */  



  @media all and (min-width: 37em) {
    aside {
      width: 34%;
      float: right;
    }
  }

  @media all and (min-width: 50em) {  
    aside {
      width: 20%;
      margin-left: 4%;
      float: left;
    }
  }

