body {
  margin: 0;
  background-color: #1c6ea8;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
}

  @media all and (min-width: 37em) {
    body {
      background-image: url(background.jpg);
      background-repeat: repeat;
      background-size: cover;
    }
  }

  @media all and (min-width: 50em) {
    body {
      background-image: url(background.jpg);
      background-repeat: repeat;
      background-size: cover;
    }
  }

header, section, footer, aside, nav, article, figure {
    display: block; 
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
}

a:hover, a:focus, a:active {
  background-color: #0645ad;
}

nav {
  background-color: #da622e;
  color: #fff;
  height: 2.4em; 
  overflow: hidden;
  -webkit-transition: height 3s; 
  -moz-transition: height 3s; 
  -o-transition: height 3s; 
  -ms-transition: height 3s; 
  transition: height 3s;
}

nav:hover, nav:focus, nav:active {
  /* On hover the menu unfolds */
  height: 10.3em; 
  -webkit-transition: height 3s; 
  -moz-transition: height 3s; 
  -o-transition: height 3s; 
  -ms-transition: height 3s; 
  transition: height 3s;
}

nav h2 {
  border-bottom: 1px solid #216b9a;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menuicon {
  display: inline-block !important;
  visibility: visible !important;
}

nav ul li {
  border-bottom: 1px solid #216b9a;
}

.selected a {
  background-color: #c0c0c0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 2%;
  background-color: #da622e;
  color: #fff;
}  

article {
  color: #000;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #fff;
}

article h2 {
  color: #166ba1;
  background-color: #fff;
}

article a {
  text-decoration: none;
  color: #da622e;
  background-color: #fff;
}

article img {
  display: none;
}

aside {
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0;
  padding-bottom: 1em;
  background-color: #999;
}

aside h2 {
  color: #166ba1;
  background-color: #999;
}